<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--接口-->
<mapper namespace="org.lanqiao.dao.TeacherMapper">
    <resultMap id="teaAndStu" type="Teacher">
        <id column="tid" property="tid"></id>
        <result column="tname" property="tname"></result>
        <collection property="studentSet" ofType="Student">
            <id column="sid" property="sid"></id>
            <result column="sname" property="sname"></result>
            <result column="sage" property="sage"></result>
            <result column="ssex" property="ssex"></result>
        </collection>
    </resultMap>
    <select id="findTeaAndStuByTid" resultMap="teaAndStu">
        select t.tid,tname,s.sid,sname,sage,ssex from teacher t,stu s,stu_tea st where t.tid = st.id
        and  s.sid =st.id and t.tid = #{tid};
    </select>
</mapper>